.instagram-feed {
    display: flex;
}
.instagram-feed .background-image {
    position: relative;
    overflow: hidden;
    width: 20%;
    padding-bottom: 20%;
}
.instagram-feed .background-image a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}