section.color-adjustment,
section.background-manipulation {
  padding: 8% 0 10%;
  display: flex;
}
section.background-manipulation {
  flex-direction: row-reverse;
}
section.color-adjustment .text {
  margin-left: 5%;
  padding-top: 3%;
}
section.background-manipulation .text {
  margin-right: 5%;
  padding-top: 3%;
}