.photo-editing-page .color-adjustment {
  background-image: url("../../assets/paint-brush-solid.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 80% 100%;
  padding: 8% 0 10%;
}
.photo-editing-page .color-adjustment .inner {
  display: flex;
}
.color-adjustment .before-after .image {
  width: 700px;
  height: 400px;
}
.photo-editing .text {
  margin-left: 5%;
  padding-top: 3%;
}
.photo-editing .text ul {
  padding-left: 2em;
}
