section.section2 .images {
  display: flex;
}
section.section2 .images div {
  width: 25%;
  padding-top: 30%;
  margin-right: 5%;
  position: relative;
}
section.section2 .images div:nth-of-type(2) {
  margin-top: 100px;
}
section.section2 .images div:nth-of-type(3) {
  margin-top: 200px;
}
section.section2 img {
box-shadow: 0px -100px 0px 20px #edebe5;
}