section.layout-1 {
  display: flex;
  padding-top: 5%;
  margin-bottom: 5%;
}
section.layout-1 .image {
  margin: 0 5%;
}
section.layout-1 img {
  box-shadow: -20px 20px 0 0 #edebe6;
}
section.layout-1 .text {
  margin-left: 5%;
  max-width: 600px;
}
