.font1 {
  font-family: "Italiana", serif;
  font-size: 2.4em;
  line-height: 1;
  margin-bottom: 1em;
}
.font2 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.accent-color {
  color: #ffab00;
}
.light-grey {
  color: #a9a9a9;
}
/*=================
    Less Styles
===================*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.padding {
  padding: 8% 0 5%;
}
/*=================
    Basic Styling
===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  font-size: 1.25rem;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  min-height: 30px;
  color: inherit;
}
.square {
  min-height: 44px;
  min-width: 44px;
  padding: 0 1em;
}
button,
:focus,
button:active,
input,
input:active,
textarea,
textarea:active {
  outline: none;
  border: none;
  font-family: inherit;
}
:focus-visible {
  background-color: #edebe6 !important;
}
fieldset {
  border: none;
}
input {
  color: inherit;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  min-width: 250px;
}
input[type="checkbox"] {
  cursor: pointer;
  margin-right: 1em;
}
textarea {
  width: 100%;
  max-width: 650px;
  color: inherit;
}
label strong,
legend strong {
  color: red;
}
.button {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-size: 0.75em;
  color: #fff;
  border: 1px solid #fff;
  padding: 1em 2.2em;
}
.button.secondary {
  background-color: #062b2d;
  min-width: 200px;
  font-size: 0.75rem;
  text-align: center;
}
li::marker {
  color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
/*=================
    Global Style
===================*/
.show-sm {
  display: none;
}
span.hide,
label.hide {
  overflow: hidden;
  color: transparent;
  width: 1px;
  height: 1px;
  display: inline-block;
}
.inner {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}
section.full-screen {
  height: 100vh;
  min-height: 700px;
}
section:first-of-type > .inner {
  padding-top: 100px;
}
/*=================
    Banner
===================*/
.banner {
  position: relative;
}
.banner .video-container {
  height: 100%;
  overflow: hidden;
}
.banner video {
  display: block;
  min-height: 100%;
  width: auto;
}
.banner h1 {
  font-family: "Italiana", serif;
  font-size: 2.4em;
  line-height: 1;
  margin-bottom: 1em;
  color: #fff;
}
#home-page .banner .inner {
  position: absolute;
  z-index: 5;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}
#home-page .banner h1 {
  border-bottom: 2px solid white;
  margin-bottom: 0;
}
#home-page .banner button {
  margin: auto;
  color: #fff;
}
.banner.background-image .inner {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*=================
    Steps
===================*/
.steps ol {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.steps ol li {
  width: 30%;
  position: relative;
  padding-top: 7em;
}
.steps .number {
  position: absolute;
  font-size: 8em;
  color: #edebe6;
  top: 0;
  z-index: -1;
}
.steps .text a {
  line-height: inherit;
}
/*=================
    Services
===================*/
#services {
  padding: 8% 0 5%;
  text-align: center;
}
#services .blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  margin-top: 10%;
  font-size: 0.75em;
}
#services .blocks div {
  width: 30%;
}
#services .blocks h3 {
  line-height: 3em;
  font-family: "Italiana", serif;
  font-size: 2.4em;
  line-height: 1;
  margin-bottom: 1em;
  font-size: 1.5em;
}
#services a {
  color: #ffab00;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-weight: bold;
}
.contact .check-list li {
  margin-bottom: 2em;
}
.photo-editing .check-list li {
  margin-bottom: 1em;
}
ul.check-list li:last-of-type {
  margin-bottom: 0;
}
.checkmark,
i.fa-check {
  border: 2px solid grey;
  border-radius: 100%;
  display: flex;
}
.contact .checkmark {
  width: 2em;
  height: 2em;
  margin-right: 2em;
}
.checkmark i {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 2em;
}
.photo-editing .checkmark {
  width: 1.25em;
  height: 1.25em;
  margin-right: 1em;
  border-color: #77929257;
}
.photo-editing .checkmark i {
  background-image: url("../../assets/checkmark2.svg");
}
ul.check-list a,
ul.check-list li {
  display: flex;
  align-items: center;
  justify-content: left;
}
ul.check-list a span:last-of-type {
  line-height: 1.3;
}
/*=================
    Carousel
===================*/
section.photo-shoots {
  overflow: hidden;
  position: relative;
  color: #fff;
}
.carousel .title {
  position: absolute;
  z-index: 20;
  width: 100%;
}
/*=================
    Page Home
===================*/
#home-page .gallery {
  background-color: #edebe6;
}
#home-page .gallery a {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-size: 0.75em;
  color: #fff;
  border: 1px solid #fff;
  padding: 1em 2.2em;
  background-color: #062b2d;
  min-width: 200px;
  font-size: 0.75rem;
  text-align: center;
}
.steps-home li {
  margin-bottom: 1em;
}
.steps-home li:first-of-type:before {
  content: "one";
}
.steps-home li:nth-of-type(2):before {
  content: "two";
}
.steps-home li:nth-of-type(3):before {
  content: "three";
}
.steps-home li:before {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  display: block;
  font-weight: bold;
  color: #77929257;
  line-height: 1;
}
/*=================
    Page About
===================*/
#about .inner {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#about .inner > :nth-child(n) {
  width: 40%;
}
#about .image {
  position: absolute;
  left: 0;
}
/*=================
    Gallery
===================*/
section.intro {
  padding: 8% 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 400px;
  border-bottom: 1px solid #33413f;
}
.search input {
  background-color: transparent;
  width: 100%;
}
#gallery-page .gallery .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#gallery-page .gallery .image {
  width: 33%;
  padding-bottom: 20%;
  overflow: hidden;
  position: relative;
}
#gallery-page .gallery .image img {
  position: absolute;
  transition: transform 0.5s;
}
#gallery-page .gallery .image button {
  position: absolute;
}
#gallery-page .gallery .image .overlay {
  position: absolute;
  cursor: pointer;
}
#gallery-page .gallery .image:hover img {
  cursor: pointer;
  background-color: #000;
  transform: scale(1.2);
}
/*=================
    Gallery Modal
===================*/
#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}
/*=================
    Photo Editing
===================*/
.before-after .image {
  width: 500px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.before-after img {
  position: absolute;
  top: 0;
  left: 0;
}
.before-after img.after {
  z-index: 1;
}
.before-after img.after {
  z-index: 2;
}
.before-after .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*=================
    Contact
===================*/
section.contact {
  background-color: #000;
  color: #fff;
  position: relative;
  overflow: hidden;
}
section.contact .overlay {
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.15);
  background-image: url("../../assets/images/IMG_7640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px) brightness(50%) saturate(50%);
  box-shadow: none;
}
section.contact .inner {
  position: relative;
  z-index: 2;
}
section.contact h1 {
  margin-bottom: 1em;
  display: inline-block;
}
section.contact .inner > p {
  margin-top: 5%;
  border-top: 1px solid #fff;
}
section.contact li .checkmark i {
  background-image: url("../../assets/checkmark.svg");
  opacity: 0;
  transition: opacity 0.5s;
}
section.contact li:hover .checkmark i,
section.contact li.active .checkmark i {
  opacity: 1;
}
#contact-form {
  padding: 8% 0 5%;
}
#contact-form h2 {
  margin-bottom: 1em;
}
#contact-form input,
#contact-form textarea {
  border: none;
  border-bottom: 1px solid #062b2d;
  background-color: transparent;
  margin-bottom: 2em;
}
#contact-form label,
#contact-form legend {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-size: 0.75em;
  display: block;
  margin-bottom: 0.75em;
}
#contact-form fieldset {
  margin-top: 1em;
  margin-bottom: 2em;
}
#contact-form fieldset label {
  display: inline;
  letter-spacing: initial;
  text-transform: none;
}
#contact-form fieldset input {
  margin-bottom: 1em;
}
