.font1 {
  font-family: "Italiana", serif;
  font-size: 2.4em;
  line-height: 1;
  padding-bottom: 0.5em;
}
.font2 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
/*=================
    Less Styles
===================*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*=================
    Basic Styling
===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  font-size: 1.25rem;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  line-height: 3.2;
  padding: 0 1em;
  min-height: 44px;
  min-width: 44px;
}
button:focus,
button:active,
input,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  border: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  line-height: 44px;
}
/*=================
    Global Style
===================*/
.show-sm {
  display: none;
}
span.hide {
  overflow: hidden;
  color: transparent;
  width: 1px;
  height: 1px;
  display: inline-block;
}
.inner {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}
section.full-screen {
  height: 100vh;
  min-height: 700px;
}
/*=================
    Header Desktop
===================*/
header {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 1.5em;
  z-index: 20;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.main-menu-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
}
header .logo {
  font-family: "Italiana", serif;
}
.main-menu-desktop ul {
  display: flex;
  justify-content: flex-end;
}
.main-menu-desktop li a {
  padding: 0.2em 0.5em;
}
.main-menu-desktop li:last-of-type a {
  border: 2px solid #ffd57f;
}
/*=================
    Footer
===================*/
footer {
  background-color: #77929257;
  color: #062b2d;
  padding: 5% 0 2%;
}
footer .inner > div:first-of-type,
footer .inner > div:nth-of-type(2) {
  border-bottom: 1px solid #062b2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .inner > div:last-of-type {
  text-align: right;
}
/*=================
    Form
===================*/
footer form label {
  display: block;
}
/*=================
    Banner
===================*/
.banner {
  position: relative;
}
.banner .video-container {
  height: 100%;
  overflow: hidden;
}
.banner video {
  display: block;
  min-height: 100%;
  width: auto;
}
.banner .overlay {
  background-color: #4c4c4c7a;
}
.banner .container {
  position: absolute;
  bottom: 8%;
  width: 100%;
  z-index: 25;
}
.banner h1 {
  border-bottom: 2px solid white;
  font-family: "Italiana", serif;
  font-size: 2.4em;
  line-height: 1;
  padding-bottom: 0.5em;
  color: #fff;
}
/*=================
    Services
===================*/
#services {
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#services ul li {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 2em;
}
#services ul i {
  border: 2px solid grey;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services ul span {
  line-height: 1.3;
  font-size: 1.25em;
}
.link {
  color: #ffab00;
  font-size: 0.8em;
}
/*=================
    Carousel
===================*/
.carousel {
  overflow: hidden;
  position: relative;
  color: #fff;
}
.carousel .link {
  position: absolute;
  bottom: 0;
  width: 95%;
  margin: auto;
  text-align: right;
}
/*=================
    About
===================*/
#about .inner {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about .inner > :nth-child(n) {
  width: 40%;
}
#about .image {
  position: absolute;
  right: 0;
  max-width: 400px;
}
/*=================
    Gallery
===================*/
.search {
  padding: 10% 0 2%;
  background-color: #016b70;
}
.search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 400px;
  border-bottom: 1px solid white;
}
.search form button {
  color: #fff;
}
.search input {
  background-color: transparent;
  width: 100%;
  color: #fff;
}
section.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section.gallery .container {
  width: 33.33%;
  height: 20vw;
  overflow: hidden;
}
