.font1 {
  font-family: "Italiana", serif;
  font-size: 2.4em;
  line-height: 1;
  padding-bottom: 0.5em;
}
.font2 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
/*=================
    Less Styles
===================*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.padding {
  padding: 8% 0 5%;
}
/*=================
    Basic Styling
===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  font-size: 1.25rem;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  min-height: 30px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
button.square {
  min-height: 44px;
  min-width: 44px;
  padding: 0 1em;
}
button:focus,
button:active,
input,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  border: none;
}
.button {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-size: 0.75em;
  color: #fff;
  border: 1px solid #fff;
  padding: 1em 2.2em;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  line-height: 44px;
}
/*=================
    Global Style
===================*/
.show-sm {
  display: none;
}
span.hide,
label.hide {
  overflow: hidden;
  color: transparent;
  width: 1px;
  height: 1px;
  display: inline-block;
}
.inner {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}
section.full-screen {
  height: 100vh;
  min-height: 700px;
}
section:first-of-type > .inner {
  padding-top: 100px;
}
/*=================
    Header Desktop
===================*/
header {
  position: absolute;
  width: 100%;
  color: white;
  z-index: 20;
  display: flex;
  flex-direction: column;
}
header nav {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
header nav button {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-size: inherit;
  line-height: 44px;
}
.main-menu-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
nav .submenu li {
  position: relative;
  font-size: 0.875em;
  border-bottom: 1px solid #deddd9;
  color: #33413f;
}
nav .submenu li:last-of-type {
  border-bottom: none;
}
nav .submenu ul {
  position: absolute;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: initial;
  background-color: #edebe6;
  padding: 0 1rem;
}
header .logo {
  font-family: "Italiana", serif;
  font-size: 1.5em;
  text-transform: uppercase;
}
.main-menu-desktop nav.menu > ul {
  display: flex;
  justify-content: flex-end;
}
.main-menu-desktop nav.menu > ul > li > :first-child {
  padding: 0.2em 0.5em;
}
.main-menu-desktop li.cta a {
  border: 2px solid #edebe6;
}
/*=================
    Favorites
===================*/
.favorites {
  background-color: #000;
}
.favorites .inner {
  position: relative;
}
.favorites .inner button {
  color: #fff;
  margin: auto;
  margin-right: 0;
}
.favorites button .total {
  margin-right: 5px;
}
.favorites .container {
  position: absolute;
  right: 0;
  background-color: #000;
  font-size: 0.75em;
  padding: 1em;
  padding-right: 0;
}
.favorites .container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favorites .container p {
  padding-right: 1em;
  text-align: center;
  margin-top: 1em;
  color: #edebe6;
}
/*=================
    Footer
===================*/
footer {
  background-color: #edebe6;
  color: #062b2d;
  padding: 5% 0 2%;
}
footer .inner > div:first-of-type {
  border-bottom: 1px solid #062b2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom {
  border-top: 1px solid #062b2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
/*=================
    Form
===================*/
footer form label {
  display: block;
}
/*=================
    Banner
===================*/
.banner {
  position: relative;
}
.banner .video-container {
  height: 100%;
  overflow: hidden;
}
.banner video {
  display: block;
  min-height: 100%;
  width: auto;
}
.banner h1 {
  font-family: "Italiana", serif;
  font-size: 2.4em;
  line-height: 1;
  padding-bottom: 0.5em;
  color: #fff;
}
#home-page .banner .inner {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}
#home-page .banner h1 {
  border-bottom: 2px solid white;
}
.banner.background-image .inner {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*=================
    Services
===================*/
#services {
  padding: 8% 0 5%;
  text-align: center;
}
#services .blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  margin-top: 10%;
  font-size: 0.75em;
}
#services .blocks div {
  width: 30%;
}
#services .blocks h3 {
  line-height: 3em;
  font-family: "Italiana", serif;
  font-size: 2.4em;
  line-height: 1;
  padding-bottom: 0.5em;
  font-size: 1.5em;
}
#services a {
  color: #ffab00;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-weight: bold;
}
ul.check-list li {
  margin-bottom: 2em;
}
ul.check-list li:last-of-type {
  margin-bottom: 0;
}
.checkmark,
i.fa-check {
  border: 2px solid grey;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  margin-right: 5%;
  display: flex;
}
.checkmark i {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 2em;
}
ul.check-list a {
  display: flex;
  align-items: center;
  justify-content: left;
}
ul.check-list a span:last-of-type {
  line-height: 1.3;
}
/*=================
    Carousel
===================*/
.carousel {
  overflow: hidden;
  position: relative;
  color: #fff;
}
.carousel .title {
  position: absolute;
  z-index: 20;
  width: 100%;
}
/*=================
    About
===================*/
#about .inner {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about .inner > :nth-child(n) {
  width: 40%;
}
#about .image {
  position: absolute;
  right: 0;
  max-width: 400px;
}
/*=================
    Gallery
===================*/
section.intro {
  padding: 10% 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 400px;
  border-bottom: 1px solid #33413f;
}
.search input {
  background-color: transparent;
  width: 100%;
}
section.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section.gallery .image {
  width: 33%;
  padding-bottom: 20%;
  overflow: hidden;
  position: relative;
}
section.gallery .image img {
  position: absolute;
  transition: transform 0.5s;
}
section.gallery .image button {
  position: absolute;
}
section.gallery .image .overlay {
  position: absolute;
  cursor: pointer;
}
section.gallery .image:hover img {
  cursor: pointer;
  background-color: #000;
  transform: scale(1.2);
}
/*=================
    Gallery Modal
===================*/
#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}
/*=================
    PhotoEditing
===================*/
.before-after .image {
  width: 500px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.before-after img {
  position: absolute;
  top: 0;
}
.before-after img.after {
  z-index: 1;
}
.before-after img.after {
  z-index: 2;
}
.before-after .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-editing-page section:nth-of-type(n + 2) .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.steps li > span {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
/*=================
    Contact
===================*/
section.contact {
  background-color: #000;
  color: #fff;
  position: relative;
  overflow: hidden;
  font-size: 0.75em;
}
section.contact .overlay {
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.15);
  background-image: url("../../assets/images/before.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px) brightness(50%) saturate(50%);
  box-shadow: none;
}
section.contact .inner {
  position: relative;
  z-index: 2;
}
section.contact h1 {
  border-bottom: 1px solid white;
  margin-bottom: 1em;
  display: inline-block;
}
section.contact .inner > a {
  margin-top: 2em;
  color: #ffbf3c;
}
section.contact li .checkmark i {
  background-image: url("../../assets/checkmark.svg");
  opacity: 0;
  transition: opacity 0.5s;
}
section.contact li:hover .checkmark i,
section.contact li.active .checkmark i {
  opacity: 1;
}
#contact-form {
  padding: 8% 0 5%;
}
#contact-form input,
#contact-form textarea {
  border: none;
  border-bottom: 1px solid #062b2d;
  background-color: transparent;
}
#contact-form label {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  display: block;
}
