.font2 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
/*=================
    Less Styles
===================*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4c4c4c7a;
}
/*=================
    Basic Styling
===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}
body {
  font-family: "Mulish", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  line-height: 3.2;
  padding: 0 1em;
  min-height: 44px;
  min-width: 44px;
}
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  line-height: 44px;
}
p {
  font-size: 1.25em;
}
/*=================
    Global Style
===================*/
.show-sm {
  display: none;
}
span.hide {
  overflow: hidden;
  color: transparent;
  width: 1px;
  height: 1px;
  display: inline-block;
}
.inner {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}
section {
  height: 100vh;
  min-height: 700px;
}
/*=================
    Header Desktop
===================*/
header {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 1.5em;
  z-index: 20;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.main-menu-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
}
header .logo {
  font-family: "Italiana", serif;
}
.main-menu-desktop ul {
  display: flex;
  justify-content: flex-end;
}
.main-menu-desktop li a {
  padding: 0.2em 0.5em;
}
.main-menu-desktop li:last-of-type a {
  border: 2px solid #ffd57f;
}
/*=================
    Footer
===================*/
footer {
  background-color: #77929257;
  padding: 5% 0 2%;
}
footer .inner > div {
  color: #062b2d;
  border-bottom: 1px solid #062b2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .inner > div:last-of-type {
  border-bottom: none;
}
/*=================
    Form
===================*/
footer form label {
  display: block;
}
/*=================
    Banner
===================*/
.banner {
  position: relative;
}
.banner .video-container {
  height: 100%;
  overflow: hidden;
}
.banner video {
  display: block;
}
.banner .container {
  position: absolute;
  bottom: 8%;
  width: 100%;
  z-index: 25;
}
.banner h1 {
  border-bottom: 2px solid white;
  font-family: "Italiana", serif;
  color: #fff;
  font-size: 3em;
  padding-bottom: 1%;
}
/*=================
    Services
===================*/
#services {
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*=================
    About
===================*/
#about .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
