/* Header */
header {
  position: absolute;
  width: 100%;
  color: white;
  z-index: 20;
}
header.white {
  background-color: #062b2d;
}
header > .inner {
  height: 80px;
}

/* Logo */
header .logo {
  font-family: "Italiana", serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

/* Nav */
header nav > ul > li > :first-child {
  font-weight: 200;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
header nav > ul > li {
  padding: 0.5em;
}

/* Submenu */
header .submenu ul {
  border-bottom: 1px solid #deddd9;
  list-style: armenian;
}

/* Buttons */
.menu-bars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu-bars span {
  display: block;
  margin-top: 0.3rem;
  width: 2rem;
  border-bottom: 0.1rem solid white;
}
.menu-bars span:nth-of-type(2) {
  width: 1.5rem;
}

.button-menu {
  height: 50px;
}
.button-bookmarks {
  color: #fff;
  width: 50px;
  border: 2px solid #f7f1f147;
  margin-left: 10px;
}
.button-bookmarks .total {
  margin-right: 5px;
}

header .button-container {
  position: relative;
}
header .button-container .dropdown {
  right: 0;
}

/* Dropdown */
header .dropdown {
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 60px;
  width: 250px;
}
header .dropdown li {
  font-size: 0.875rem;
  border-bottom: 1px solid #deddd9;
  line-height: 44px;
  padding-left: 1em;
}
header .dropdown p {
  font-size: 0.875rem;
  border-bottom: 1px solid #deddd9;
  padding-left: 1em;
}
header .dropdown > :last-child {
  border-bottom: none;
}
header .dropdown a.font2 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 44px;
}
header #bookmarks li {
  display: flex;
}
header #bookmarks li span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
