/* Buttons */
.menu-bars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu-bars span {
  display: block;
  margin-top: 0.3rem;
  width: 2rem;
  border-bottom: 0.1rem solid white;
}
.menu-bars span:nth-of-type(2) {
  width: 1.5rem;
}

.button-menu {
  height: 50px;
}
.button-bookmarks {
  color: #fff;
  width: 50px;
  border: 2px solid #f7f1f147;
  margin-left: 10px;
}
.button-bookmarks .total {
  margin-right: 5px;
}
