/*=================
    Basic Styling
================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button:focus,
button:active {
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
