/*=================
    Less Styles
===================*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4c4c4c7a;
}
/*=================
    Basic Styling
===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  line-height: 3.2;
  padding: 0 1em;
  min-height: 44px;
  min-width: 44px;
}
button:focus,
button:active {
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/*=================
    Global Style
===================*/
.show-sm {
  display: none;
}
span.hide {
  overflow: hidden;
  color: transparent;
  width: 1px;
  height: 1px;
  display: inline-block;
}
.inner {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}
/*=================
    Header Desktop
===================*/
header .main-menu-desktop {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 2.5em;
  z-index: 20;
}
.main-menu-desktop > div {
  display: flex;
  justify-content: space-between;
}
header .logo {
  font-family: "Italiana", serif;
}
.main-menu-desktop ul {
  display: flex;
  justify-content: space-between;
}
/*=================
    Banner
===================*/
.banner {
  position: relative;
}
.banner video {
  display: block;
}
/*=================
    Responsive
===================*/
/* Small Devices */
@media only screen and (max-width: 767px) {
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: initial;
  }
  /*=================
    Header Mobile
    ===================*/
  .header-mobile {
    display: flex;
    justify-content: space-between;
  }
  .main-menu-mobile {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #f8f8f8;
  }
  .main-menu-mobile .close {
    position: absolute;
    right: 0;
    top: 0;
  }
}
