/*=================
    Basic Styling
===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button:focus,
button:active {
  outline: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/*=================
    Global Style
===================*/
.show-sm {
  display: none;
}
span.hide {
  overflow: hidden;
  color: transparent;
  width: 1px;
  height: 1px;
}
.inner {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}
/*=================
    Header Desktop
===================*/
header > div {
  display: flex;
  justify-content: space-between;
}
.main-menu-desktop ul {
  display: flex;
  justify-content: space-between;
}
/*=================
    Responsive
===================*/
/* Small Devices */
@media only screen and (max-width: 767px) {
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: initial;
  }
  /*=================
    Header Mobile
    ===================*/
  .header-mobile {
    display: flex;
    justify-content: space-between;
  }
  .main-menu-mobile {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
  }
  .main-menu-mobile .close {
    position: absolute;
    right: 0;
    top: 0;
  }
}
