/* Small Devices */
@media only screen and (max-width: 767px) {
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: initial;
  }

  /*=================
      Header Mobile
    ===================*/
  .header-mobile {
    .flex-justify;
  }
  .main-menu-mobile {
    min-height: 100vh;
    width: 100vw;
    .flex-center;
    position: fixed;
    top: 0;
    background-color: #f8f8f8;
  }
  .main-menu-mobile .close {
    position: absolute;
    right: 0;
    top: 0;
  }
}
