@color-white: #b3bebe;
@color-primary-light: #77929257;
@color-primary: #01969d;
@color-primary-dark: #062b2d;
@color-grey: #016b70;
@color-accent-ligth: #edebe6;
@color-accent: #ffe968;
@color-accent-dark: #ffab00;
@color: rgb(51, 65, 63);
.font1 {
  font-family: "Italiana", serif;
  font-size: 2.4em;
  line-height: 1;
  margin-bottom: 1em;
}
.font2 {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.accent-color {
  color: @color-accent-dark;
}
.light-grey {
  color: #a9a9a9;
}
/*=================
    Less Styles
===================*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.padding {
  padding: 8% 0 5%;
}
/*=================
    Basic Styling
===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  font-size: 1.25rem;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  .flex-center;
  cursor: pointer;
  background-color: transparent;
  min-height: 30px;
  color: inherit;
}
.square {
  min-height: 44px;
  min-width: 44px;
  padding: 0 1em;
}
button,
:focus,
button:active,
input,
input:active,
textarea,
textarea:active {
  outline: none;
  border: none;
  font-family: inherit;
}
:focus-visible {
  background-color: @color-accent-ligth!important;
}
fieldset {
  border: none;
}
input {
  color: inherit;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  min-width: 250px;
}
input[type="checkbox"] {
  cursor: pointer;
  margin-right: 1em;
}
textarea {
  width: 100%;
  max-width: 650px;
  color: inherit;
}
label strong,
legend strong {
  color: red;
}
.button {
  .font2;
  font-size: 0.75em;
  color: #fff;
  border: 1px solid #fff;
  padding: 1em 2.2em;
}
.button.secondary {
  background-color: @color-primary-dark;
  min-width: 200px;
  font-size: 0.75rem;
  text-align: center;
}
li::marker {
  color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
/*=================
    Global Style
===================*/
.show-sm {
  display: none;
}
label.hide {
  overflow: hidden;
  color: transparent;
  width: 1px;
  height: 1px;
  display: inline-block;
}
.inner {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}
section.full-screen {
  height: 100vh;
  min-height: 700px;
}
section:first-of-type > .inner {
  padding-top: 100px;
}
/*=================
    Steps
===================*/
.steps ol {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.steps ol li {
  width: 30%;
  position: relative;
  padding-top: 7em;
}
.steps .number {
  position: absolute;
  font-size: 8em;
  color: @color-accent-ligth;
  top: 0;
  z-index: -1;
}
.steps .text a {
  line-height: inherit;
}
/*=================
    Services
===================*/
#services {
  .padding;
  text-align: center;
}

#services .blocks {
  .flex-justify;
  align-items: stretch;
  margin-top: 10%;
  font-size: 0.75em;
}
#services .blocks div {
  width: 30%;
}
#services .blocks h3 {
  line-height: 3em;
  .font1;
  font-size: 1.5em;
}
#services a {
  color: @color-accent-dark;
  .font2;
  font-weight: bold;
}

.contact .check-list li {
  margin-bottom: 2em;
}
ul.check-list li:last-of-type {
  margin-bottom: 0;
}
.checkmark,
i.fa-check {
  border: 2px solid grey;
  border-radius: 100%;
  display: flex;
}
.contact .checkmark {
  width: 2em;
  height: 2em;
  margin-right: 2em;
}
.checkmark i {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 2em;
}

ul.check-list a,
ul.check-list li {
  display: flex;
  align-items: center;
  justify-content: left;
}
ul.check-list a span:last-of-type {
  line-height: 1.3;
}
/*=================
    Page Home
===================*/
.steps-home li {
  margin-bottom: 1em;
}
.steps-home li:first-of-type:before {
  content: "one";
}
.steps-home li:nth-of-type(2):before {
  content: "two";
}
.steps-home li:nth-of-type(3):before {
  content: "three";
}
.steps-home li:before {
  .font2;
  display: block;
  font-weight: bold;
  color: @color-primary-light;
  line-height: 1;
}
/*=================
    Photo Editing
===================*/
.before-after .image {
  width: 500px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.before-after img {
  position: absolute;
  top: 0;
  left: 0;
}
.before-after img.after {
  z-index: 1;
}
.before-after img.after {
  z-index: 2;
}
.before-after .buttons {
  .flex-center;
}

/*=================
    Contact
===================*/
section.contact {
  background-color: #000;
  color: #fff;
  position: relative;
  overflow: hidden;
}
section.contact .overlay {
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.15);
  background-image: url("../../assets/images/IMG_7640.jpg");
  .background-image;
  filter: blur(10px) brightness(50%) saturate(50%);
  box-shadow: none;
}
section.contact .inner {
  position: relative;
  z-index: 2;
}
section.contact h1 {
  margin-bottom: 1em;
  display: inline-block;
}
section.contact .inner > p {
  margin-top: 5%;
  border-top: 1px solid #fff;
}
section.contact li .checkmark i {
  background-image: url("../../assets/checkmark.svg");
  opacity: 0;
  transition: opacity 0.5s;
}
section.contact li:hover .checkmark i,
section.contact li.active .checkmark i {
  opacity: 1;
}
#contact-form {
  .padding;
}
#contact-form h2 {
  margin-bottom: 1em;
}
#contact-form input,
#contact-form textarea {
  border: none;
  border-bottom: 1px solid @color-primary-dark;
  background-color: transparent;
  margin-bottom: 2em;
}
#contact-form label,
#contact-form legend {
  .font2;
  font-size: 0.75em;
  display: block;
  margin-bottom: 0.75em;
}
#contact-form fieldset {
  margin-top: 1em;
  margin-bottom: 2em;
}
#contact-form fieldset label {
  display: inline;
  letter-spacing: initial;
  text-transform: none;
}
#contact-form fieldset input {
  margin-bottom: 1em;
}
