.input-files .container {
  display: flex;
}
.input-files .background-image {
  height: 4em;
  width: 4em;
  display: flex;
  border: 1px solid #062b2d;
  border-radius: 3px;
  background-size: cover;
}
#contact-form .input-files input {
  border-bottom: none;
}
#contact-form .input-files input:focus + label {
  border: 1px solid red;
}
#contact-form .input-files .background-image label {
  flex-grow: 1;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
}
#contact-form .input-files .background-image + div {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
#contact-form .input-files .background-image + div label {
  margin-bottom: 0;
}
#contact-form .input-files textarea {
  background-color: #efefef;
  border-bottom: none;
  width: 500px;
  max-width: 100%;
}
